* {
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    background-color: #ECF0F5;
    font-size: 0.4rem;
    color: rgb(255, 255, 255);
    /* height: 10000px; */
    overflow: hidden;
}

.ql-tooltip.ql-editing {
    left: 0px!important;
}

.ql-container.ql-snow {
    height: 500px;
}